.navbar navbar-expand-lg{
    background-color: teal;
}
navbar-brand{
    background-color: teal;
}

navbar-collapse{
    background-color: teal;
}

collapse{
    background-color: teal;
}

.navbarNavAltMarkup{
    background-color: teal;
}