<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="home" href="#">Angular Exercises</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/countries-list">All Countries<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/european-countries">European Countries</a>
        <a class="nav-item nav-link" routerLink="/american-countries">American Countries</a>
        <a class="nav-item nav-link" routerLink="/asian-countries">Asian Countries</a>
        <a class="nav-item nav-link" routerLink="/african-countries">African Countries</a>
        <a class="nav-item nav-link" routerLink="/oceanian-countries">Oceanian Countries</a>
      </div>
    </div>
  </nav>