<div class="footer">
  <p>&copy; Powered  by RainMaker &nbsp; 
  <a href="http://github.com/LamprosTolis" target="_blank"><img alt="" src="/assets/images/GitHub-Mark-Light-32px.png" /> </a>&nbsp; &nbsp; &nbsp;
  <a href="https://www.linkedin.com/in/tolispapagiannis/" target="_blank"><img alt="" src="/assets/images/linkedin-32.png" /> </a>&nbsp; &nbsp; &nbsp;  Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy" style="background-color: teal">Dave Gandy</a>
  And <a href="https://www.flaticon.com/authors/freepik" title="Freepik"style="background-color: teal;">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
</div>