<div class="row">
    <div *ngFor="let country of countries" class="card" style="width: 25rem;">
        <img src="{{country.flag}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{country.capital}}</h5>
          <p class="card-text">{{country.name}}</p>
          <button class="btn btn-lg btn-outline-primary" (click)="openLg(content)">Info</button>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Country information</h4>
              <button type="btn btn-secondary" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">

                <div class="col-md-6 mb-3 left">
                  <img src="{{country.flag}}" class="left" style="width: 35rem;">
                </div>
                <div class="col-md-6 mb-3">
                  <div class="col-md-8">
                  <label><strong> Name : </strong>  {{country.name}} </label>
                  <label><strong> Country Region : </strong>{{country.region}} </label>
                  <label><strong> Country Domain Name : </strong>{{country.topLevelDomain}} </label>
                  <label *ngIf=country.subregion><strong>Country Sub Region : </strong>{{country.subregion}} </label>
                <label *ngIf=country.capital><strong>Country Capital : </strong>{{country.capital}} </label>
                <label><strong> Country Population : </strong>{{country.population | number}} people </label>
                <label><strong> Country Timezones : </strong>{{country.timezones}} </label>
                <label><strong> Country Languages : </strong></label>
                <label style="white-space:pre;" *ngFor="let language of country.languages">{{language.name}}</label>
                </div>
              </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
        </div>
      </div>
</div>